header {
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	height: 10vh;
	align-items: center;
}

header > div {
	margin: 0.5ex;
}

header > div.logo {
	margin-right: auto;
}

header > div.logo > img {
	height: 10vh;
}

header > div.locale {
	display: none;
}

header > div.clock {
	font-size: 8vh;
}
