header {
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	height: 10vh;
	align-items: center;
}

header > div {
	margin: 0.5ex;
}

header > div.logo {
	margin-right: auto;
}

header > div.logo > img {
	height: 10vh;
}

header > div.locale {
	display: none;
}

header > div.gamepad {
	position: relative;
}

header > div.gamepad > img {
	height: 90%;
}

header > div.gamepad:after {
	position: absolute;
	right: 0.25rem;
	bottom: 0.25rem;
	display: blocK;
	content: attr(data-index);
}

header > div.gamepad .label {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 0.5em;
	white-space: nowrap;
	-webkit-transform: translate(0, 100%);
}

header > div.gamepad.selected .label,
header > div.gamepad:hover .label {
	display: block;
}

header > div.clock {
	font-size: 8vh;
}
