/**
 * Color Schema: http://paletton.com/#uid=54q0u0kgDu36ROlbPCwkWptoPlb
 * Font: https://fontlibrary.org/en/font/horta
 **/
@font-face {
	font-family: 'Horta';
	src: url('fonts/horta.ttf') format('truetype'); 
}

body {
	background-image: url('../img/wallpapers/HOT_Balloon_Trip.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;

	font-family: 'DejaVu Sans', 'Arial', sans-serif;
}

header {
	background-color: rgba(255, 255, 255, 0.6);
	font-family: 'Horta';
	color: #5C61A6;
}

.selected {
	background-color: rgba(92, 97, 166, 0.5);
}

#widgets > ul > li {
	border: 0.5ex solid white;
	outline: none;
	border-radius: 7px;
	background-color: #ffffff;
}

#widgets > ul > li.current-app,
#widgets > ul > li:hover,
#widgets > ul > li:active {
	border-color: #5C61A6;
	box-shadow: 0 0 10px #5C61A6;
}

#widgets > ul > li.running-app {
	border-color: #EFCE73;
	box-shadow: 0 0 10px #EFCE73;
}

#widgets > ul > li > div.label {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	font-size: 1.5em;
}

#widgets > ul > li > div.category {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	font-size: 0.8em;
}

#widgets > ul > li.selected > div.label {
	background-color: rgba(92, 97, 166, 0.8);
	color: #ffffff;
}

.copyright-notice-background:before {
	content: 'Wallpaper: HOT Balloon Trip · Andrés Nieto Porras · CC BY-SA 2.0';
}

.dialog {
	border: 0.5ex solid #5C61A6;
	outline: none;
	border-radius: 7px;
	box-shadow: 0 0 10px #5C61A6;
}

.dialog > .dialog-label {
	font-size: 1.2em;
	font-weight: bold;
	background-color: #5C61A6;
	color: #ffffff;
}

.dialog > .dialog-buttons {
	border-top: 0.25ex solid #5C61A6;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.button-exit,
.button-reload,
.button-visible,
.button-reset,
.button-run,
.button-suspend,
.button-resume,
.button-stop,
.button-close {
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	font-size: 0;
	width: 5rem;
	height: 5rem;
	padding: 0.25rem;
	margin: 0.5rem;
	margin-left: 2rem;
	margin-right: 2rem;
	background-origin: content-box;
}

.button-reset.selected,
.button-run.selected,
.button-suspend.selected,
.button-resume.selected,
.button-stop.selected,
.button-close.selected,
.button-reset:hover,
.button-run:hover,
.button-suspend:hover,
.button-resume:hover,
.button-stop:hover,
.button-close:hover {
	-webkit-filter: drop-shadow(0.2rem 0.2rem 0.4rem grey);
}

.button-reset {
	background-image: url('icon:///media-skip-backward.svg');
}

.button-run {
	background-image: url('icon:///media-playback-start.svg');
}

.button-run.selected,
.button-run:hover {
	background-image: url('icon:///media-playback-start_selected.svg');
}

.button-suspend {
	background-image: url('icon:///media-playback-pause.svg');
}

.button-suspend.selected,
.button-suspend:hover {
	background-image: url('icon:///media-playback-pause_selected.svg');
}

.button-resume {
	background-image: url('icon:///media-playback-pause.svg');
}

.button-resume.selected,
.button-resume:hover {
	background-image: url('icon:///media-playback-start_selected.svg');
}

.button-stop {
	background-image: url('icon:///media-playback-stop.svg');
}

.button-stop.selected,
.button-stop:hover {
	background-image: url('icon:///media-playback-stop_selected.svg');
}

.button-close {
	background-image: url('icon:///media-eject.svg');
}

.button-close.selected,
.button-close:hover {
	background-image: url('icon:///media-eject_selected.svg');
}

#sidebar {
	background-color: #5C61A6;
	color: #ffffff;
	max-width: 25rem;
	border-radius: 50% 0 0 50%;
	box-shadow: -0.25em 0em 1em #5C61A6;
}

#sidebar h2 {
	background-color: #5C61A6;
	color: #5C61A6;
	margin: 0;
	padding: 1em;
	font-size: 0;
}

#sidebar:hover,
#sidebar.selected-parent {
	border-radius: 0;
}

#sidebar:hover h2,
#sidebar.selected-parent h2 {
	background-color: #B7BAE0;
	color: #5C61A6;
	font-size: 1.2em;
}

#sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#sidebar ul > li {
	margin: 0;
	padding: 0.5em;
	margin-top: 1px;
}

#sidebar .selected {
	background-color: #B7BAE0;
	color: #34375e;
}

.sidebar-control-buttons button {
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	font-size: 0;
	width: 3rem;
	height: 3rem;
	padding: 0.25rem;
	margin: 0.5rem;
	background-origin: content-box;
}

.sidebar-control-buttons button.button-exit {
	background-image: url('icon:///system-shutdown.svg');
	background-color: rgba(92, 97, 166, 0.5);
}

.sidebar-control-buttons button.button-reload {
	background-image: url('icon:///system-reboot.svg');
}

label.button-visible {
	position: relative;
	background-image: url('icon:///layer-visible-off.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

label.button-visible.button-enabled {
	background-image: url('icon:///layer-visible-on.svg');
}

label.button-visible > input[type="checkbox"] {
	visibility: hidden;
}

label.button-visible > span {
	position: absolute;
	display: none !important;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 0.9rem;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	font-weight: bold;
	padding: 0.25rem;
}

label.button-visible:hover,
label.button-visible.selected {
	background-color: rgba(92, 97, 166, 0.5);
}

label.button-visible:hover > span,
label.button-visible.selected > span {
	display: block !important;
}

/* https://mikethedj4.github.io/Webkit-Scrollbar-Generator/ */

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #b7bae0;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #858ac3;
}
::-webkit-scrollbar-thumb:active {
  background: #858ac3;
}
::-webkit-scrollbar-track {
  background: #3d438d;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #3d438d;
}
::-webkit-scrollbar-track:active {
  background: #272d75;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

#sidebar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
#sidebar::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
#sidebar::-webkit-scrollbar-thumb {
  background: #b7bae0;
  border: 0px none #ffffff;
  border-radius: 50px;
}
#sidebar::-webkit-scrollbar-thumb:hover {
  background: #858ac3;
}
#sidebar::-webkit-scrollbar-thumb:active {
  background: #858ac3;
}
#sidebar::-webkit-scrollbar-track {
  background: #3D438D;
  border: 0px none #ffffff;
  border-radius: 50px;
}
#sidebar::-webkit-scrollbar-track:hover {
  background: #3D438D;
}
#sidebar::-webkit-scrollbar-track:active {
  background: #272d75;
}
#sidebar::-webkit-scrollbar-corner {
  background: transparent;
}
