/**
 * Color Schema: http://paletton.com/#uid=54q0u0kgDu36ROlbPCwkWptoPlb
 * Font: https://fontlibrary.org/en/font/horta
 **/
@font-face {
	font-family: 'Horta';
	src: url('fonts/horta.ttf') format('truetype'); 
}

body {
	background-image: url('../img/wallpapers/HOT_Balloon_Trip.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;

	font-family: 'DejaVu Sans', 'Arial', sans-serif;
}

header {
	background-color: rgba(255, 255, 255, 0.6);
	font-family: 'Horta';
	color: #5C61A6;
}

.selected {
	background-color: rgba(92, 97, 166, 0.5);
}

#widgets > ul > li {
	border: 0.5ex solid white;
	outline: none;
	border-radius: 7px;
	background-color: #ffffff;
}

#widgets > ul > li.current-app,
#widgets > ul > li:hover,
#widgets > ul > li:active {
	border-color: #5C61A6;
	box-shadow: 0 0 10px #5C61A6;
}

#widgets > ul > li.running-app {
	border-color: #EFCE73;
	box-shadow: 0 0 10px #EFCE73;
}

#widgets > ul > li > div.label {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	font-size: 2em;
}

#widgets > ul > li > div.category {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	font-size: 0.8em;
}

#widgets > ul > li.selected > div.label {
	background-color: rgba(92, 97, 166, 0.8);
	color: #ffffff;
}

.copyright-notice-background:before {
	content: 'Wallpaper: HOT Balloon Trip · Andrés Nieto Porras · CC BY-SA 2.0';
}

.dialog {
	border: 0.5ex solid #5C61A6;
	outline: none;
	border-radius: 7px;
	box-shadow: 0 0 10px #5C61A6;
}

.dialog > .dialog-label {
	font-size: 1.2em;
	font-weight: bold;
	background-color: #5C61A6;
	color: #ffffff;
}

.dialog > .dialog-buttons {
	border-top: 0.25ex solid #5C61A6;
}

.button-reset,
.button-run,
.button-suspend,
.button-resume,
.button-stop,
.button-close {
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	font-size: 0;
	width: 5rem;
	height: 5rem;
	padding: 0.25rem;
	margin: 0.5rem;
	margin-left: 2rem;
	margin-right: 2rem;
	background-origin: content-box;
}

.button-reset.selected,
.button-run.selected,
.button-suspend.selected,
.button-resume.selected,
.button-stop.selected,
.button-close.selected,
.button-reset:hover,
.button-run:hover,
.button-suspend:hover,
.button-resume:hover,
.button-stop:hover,
.button-close:hover {
	-webkit-filter: drop-shadow(0.2rem 0.2rem 0.4rem grey);
}

.button-reset {
	background-image: url('icon:///media-skip-backward.svg');
}

.button-run {
	background-image: url('icon:///media-playback-start.svg');
}

.button-run.selected,
.button-run:hover {
	background-image: url('icon:///media-playback-start_selected.svg');
}

.button-suspend {
	background-image: url('icon:///media-playback-pause.svg');
}

.button-suspend.selected,
.button-suspend:hover {
	background-image: url('icon:///media-playback-pause_selected.svg');
}

.button-resume {
	background-image: url('icon:///media-playback-pause.svg');
}

.button-resume.selected,
.button-resume:hover {
	background-image: url('icon:///media-playback-start_selected.svg');
}

.button-stop {
	background-image: url('icon:///media-playback-stop.svg');
}

.button-stop.selected,
.button-stop:hover {
	background-image: url('icon:///media-playback-stop_selected.svg');
}

.button-close {
	background-image: url('icon:///media-eject.svg');
}

.button-close.selected,
.button-close:hover {
	background-image: url('icon:///media-eject_selected.svg');
}


