#widgets {
	position: relative;
	z-index: 10;
	padding: 1em;
	padding-top: 10vh;
}

#widgets > div.no-apps-found {
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 1em;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #fff;
	border: 1px solid red;
	border-radius: 0.5ex;
	font-size: 1.2em;
	text-align: center;
}

#widgets > ul.widget-app-list {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	align-items: stretch;
}

#widgets > ul.widget-app-list > li {
	display: block;
	margin: 1ex;
	height: 12rem;
	width: 21.3rem;
	overflow: hidden;
	position: relative;
}

#widgets > ul.widget-app-list > li > .icon,
#widgets > ul.widget-app-list > li > .icon-selected {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

#widgets > ul.widget-app-list > li > .icon-selected {
	display: none;
}

/* This may be an animated icon, only should when the window is active */
body.window-active #widgets > ul.widget-app-list > li:hover > .icon-selected,
body.window-active #widgets > ul.widget-app-list > li.current-app > .icon-selected {
	display: block;
}

#widgets > ul.widget-app-list > li > div.label {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#widgets > ul.widget-app-list > li > div.category {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#widget-filter {
	position: fixed;
	z-index: 30;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 1em;
	display: flex;
	margin-bottom: 0;

	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: -webkit-transform 1s ease;
	transition: transform 1s ease;
}

#widget-filter.hidden {
	-webkit-transform: translate(0, 100%);
}

#widget-filter > input {
	display: block;
	flex-grow: 1;
}

#widget-filter > button {
}
