#widgets {
	position: relative;
	z-index: 10;
	padding: 1em;
}

#widgets > ul {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	margin-top: 10vh;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	align-items: stretch;
}

#widgets > ul > li {
	display: block;
	margin: 1ex;
	height: 12rem;
	width: 21.3rem;
	overflow: hidden;
	position: relative;
}

#widgets > ul > li > .icon,
#widgets > ul > li > .icon-selected {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

#widgets > ul > li > .icon-selected {
	display: none;
}

#widgets > ul > li:hover > .icon-selected {
	display: block;
}

/* This may be an animated icon, only should when the window is active */
body.window-active #widgets > ul > li.selected > .icon-selected {
	display: block;
}

#widgets > ul > li > div.label {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}


